.sonew-hero-background{
    background:#212121;
}

@media (max-width: 576px) {

    .navbar-main {
        top: 0;
    }
    .sonew-header{
        padding-top: 72px;
    }

}

@media (min-width: 768px) { 

    .navbar-main {
        top: 16px;
    }
}


.btn-sonew, .btn-sonew:active, .btn-sonew:visited {
    background-color: #19BE72 !important;
}

.btn-sonew:hover {
    background-color: #0f8f53 !important;
}

.sonew-driver-bg{
    background: url('driver-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}